<!DOCTYPE html>
<html>
    <head>
    </head>

    <body>
        <form id="add" action="/additem" method="post">
            <header>
                <h3>List an item to sell:</h3>
            </header>   

            <div>
                <label for="sellerid">Seller ID</label>
                <div>
                    <input type="text" id="sellerid" name="sellerid">
                </div> 
            </div> 

            <div>
                <label for="name">Item Name</label>
                <div>
                    <input type="text" id="name" name="name">
                </div> 
            </div>            
            
            <div>
                <label for="type">Item Type</label>
                <div>
                    <input type="text" id="type" name="type">
                </div> 
            </div>

            <div>
                <label for="quantity">Quantity</label>
                <div>
                    <input type="text" id="quantity" name="quantity">
                </div> 
            </div>

            <div>
                <label for="price">Price</label>
                <div>
                    <input type="text" id="price" name="price">
                </div> 
            </div>

            <div>
                <label for="description">Description</label>
                <div>
                    <textarea id="description" name="description"></textarea>
                </div> 
            </div>            
            
            <div>
                <input type="submit" value="List Item">
            </div>
        </form>

        <form id="login" action="" method="post">
            <header>
                <h3>Login</h3>
            </header>            
            
            <div>
                <label for="username">Username</label>
                <div>
                    <input type="text" id="username" name="username">
                </div> 
            </div>

            <div>
                <label for="password">Password</label>
                <div>
                    <input type="password" id="password" name="password">
                </div> 
            </div>
            
            <div>
                <input type="submit" value="Login">
            </div>
        </form>        
    </body>
    
    <script src='../../node_modules/jquery/dist/jquery.min.js'></script>
    <script src='../../controllers/form_controller.js'></script>
</html>
